{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link  href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link  href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link  href="{% static 'css/base.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">MATHEMATICS FOR ALL</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto">
                  <li class="nav-item ">
                    <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#table">Lessons</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>
    <div class="jumbotron jumbotron-fluid height50p banner" id="home">
          <div class="container h100">
                <div class="contentBox h100">
                    <h1>Mathematics is cool</h1>
                </div>
            </div>
        </div>

    <section class="section1" id="about">
        <div class="container h-100">
            <div class="contentBox h100">
                <div class="row">
                    <div class="col-lg-12"><h1 id="aboutusSection"> About us</h1></div>
                    <div class="col-lg-12"><p>Researchers in mathematics education are primarily concerned with the tools, methods and approaches that facilitate practice or the study of practice; however, mathematics education research, known on the continent of Europe as the didactics or pedagogy of mathematics, has developed into an extensive field of study, with its own concepts, theories, methods, national and international organisations, conferences and literature.
                        This article describes some of the history, influences and recent controversies.</p></div>
                    <div class="col-lg-12">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20{{ request.build_absolute_uri }}" class="fa fa-twitter"></a>
                        <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}' class="fa fa-google-plus"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section2" id="table">
        <div class="container h-100">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center tableSec">Choose your lesson</h1>
                </div>
                <div class="col-lg-12">
                   <table class="table table-striped table-dark">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">First</th>
                              <th scope="col">Last</th>
                              <th scope="col">Handle</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                            </tr>
                          </tbody>
                   </table>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <ul class="footer">
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
                <div class="col-lg-4 ml-auto text-right" >
                    <i class="fa fa-phone fa-3x mb-3 sr-contact-1" id="phoneFooter"></i>
                    <p>+38067-431-4438</p>
                </div>
                <div class="col-lg-4 mr-auto text-right">
                    <i class="fa fa-envelope fa-3x mb-3 sr-contact-2" id="emailFooter"></i>
                    <p>
                        <a> p4314438@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">
	$(document).scroll(function(){
		$('.navbar').toggleClass('scrolled', $(this).scrollTop() > $('.navbar').height());
	});
</script>
</body>
</html>